body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    margin: 50px;
    border-spacing: 0;
}
input[type="button"], button {
    width: 90px;
    height: 90px;
    font-size: 20px;
    margin: 1px;
    padding: 1px;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
td {
    padding: 0;
}
#btnCalc:hover {
    background-color: #45a049;
}
#btnCalc:active {
    background-color: #388e3c;
}
