body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    margin: 20px;
    border-spacing: 0;
}
td {
    padding: 0;
}
input[type="button"], button {
    width: 90px;
    height: 90px;
    font-size: 20px;
    margin: 1px;
    padding: 1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;45
}

#btnDel {
    grid-column: span 2;
    width: 366px;
    background-color: #ff6666;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:active {
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}

input[type="button"]:hover {
    background-color: #e0e0e0;
}
